rasterio
geopandas
shapely
fiona
einops
mmcv
tensorboard
tqdm
pandas
numpy
scikit-learn
scikit-image
matplotlib
seaborn
pyyaml
opencv-python
Pillow
--extra-index-url https://download.pytorch.org/whl/cu130
torch
torchaudio
torchvision