MODEL:
  architecture: "UNET3D"
  shape_pattern: "NTHWC"
  img_res: 64
  max_seq_len: 24
  num_channels: 4  # rgb + temporal encoding
  num_classes: 2  # building vs background
  dropout: 0.0

DATASETS:
  train:
    dataset: "SpaceNet7"
    label_map:
    max_seq_len: 24
    batch_size: 8
    extra_data:
    num_workers: 4

  eval:
    dataset: "SpaceNet7"
    label_map:
    max_seq_len: 24
    batch_size: 16
    extra_data:
    num_workers: 4

  test:
    dataset: "SpaceNet7"
    label_map:
    max_seq_len: 24
    batch_size: 16
    extra_data:
    num_workers: 4

SOLVER:
  num_epochs: 100
  loss_function: masked_cross_entropy
  class_weights:
  lr_scheduler: 'cosine'
  lr_base: 0.0003
  lr_min: 1e-6
  lr_start: 1e-7
  lr_decay: 0.95
  dr_epochs: 5
  num_warmup_epochs: 5
  num_cycles: 1
  reset_lr: True
  weight_decay: 0.000
  reset_lr_at_epoch:

CHECKPOINT:
  load_from_checkpoint:
  partial_restore: False
  save_path: "models/saved_models/SpaceNet7/UNet3D/run3"
  train_metrics_steps: 100
  eval_steps: 500
  save_steps: 2000
  restart_clock: False